* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #06c59c;
}
.wrapper {
  display: flex;
  flex-direction: column;
  background: #f0ffff;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 7px;
  width: 450px;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
}
.emoji{
    font-size: 7rem;
    cursor: pointer;
    user-select: none;
}
.emojis {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.normal,
.closed,
.open,
.click {
  display: none;
}
.active {
  display: block;
}
.deactive {
  display: none;
}
.wrapper .form{
    display: flex;
    flex-direction: column;
}
.form input {
  border: 1px solid #808080;
  border-radius: 5px;
  font-size: 16px;
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
  color: #282828;
  font-weight: 500;
  transition: all 0.4s;
}
input:focus {
  background-color: #06c59c;
  color: #fff;
}
.form input::placeholder {
  color: #bfbfbf;
}
.form input:focus::placeholder {
  color: #06c59c;
}
.form label {
  font-weight: 500;
  font-stretch: 20px;
  margin-bottom: 10px;
}
.loginBtn {
  margin-top: 20px;
  width: 100%;
  height: 55px;
  border: none;
  outline: none;
  font-size: 18px;
  border-radius: 7px;
  color: #fff;
  cursor: pointer;
  background: #06c59c;
  transition: 0.3s ease;
}
.loginBtn:hover {
  background-color: #1d9ffc;
}
